body{
    min-height: 100vh;
    
    margin-top: 0px;
    background: linear-gradient(180deg, #C6C9C2 0%, #F27777 20.15%, #C5C8C2 50.33%, #5C5D62 70.23%, #33353C 75%);
    /*background-image: url('gradient.png');*/

 
}


#wrapper{
    margin-top: 10px;
    margin-bottom: 133px;
    margin-left: 65px;
    margin-right: 65px;
    width: 4990px;
    height: 2613px;


    /*border: 2px solid #000;*/
    
}

h2{
    font-size: 70px;
    color: aliceblue;
    margin-top: 50px;
    
    /*argin-top: 15px;
    margin-left: 90px;*/
}

.twrapper{
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 550px;
    margin-right: 100px;

    width: 2300px;
    height: 224px;
    display: flex;
    justify-content: center;

    


    
    /*border: 2px solid;*/
    /*justify-content: center;*/
    /*display: inline-block;*/
    


}


.photo{
    width: 400px;
    height: 175px;
    
    border-radius: 120px;
    background: #000;

    /*margin-left: 100px;
    margin-top: 26px;
    margin-bottom: 27px;*/

    text-align: center;


   

}

.click{
    width: 500px;
    height: 120px;
    
    border: 6px solid #000;
    border-radius: 100px;
    background: #FFFFFF;

    /*margin-left: 740px;
    margin-right: 0px;
    margin-top: 26px;
    margin-bottom: 27px;*/

    padding: 20px;
    text-align: center;

}


h3{
    font-size: 70px;
    color:#000;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.move{
    width: 600px;
    height: 130px;
    
    border-radius: 100px;
    background: #000;

    /*margin-left: 10px;
    
    margin-top: 26px;
    margin-bottom: 27px;*/

    padding: 20px;
    text-align: center;

}

#timer{
    width: 600px;
    height: 130px;
    
    border-radius: 100px;
    background: #000;

    
}


h4{
    font-size: 70px;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 50px;

}

.middle{
    margin-top: 10px;
    margin-bottom: 500px;
    margin-left: 50px;
    margin-right: 20px;

    height: 1500px;
    width: 3300px;

    
    /*border: 2px solid #000;*/
    
    display: flex;

}

#notice{
    width: 600px;
    height: 900px;
    
    margin-left: 140px;
    margin-top: 260px;
    margin-bottom: 27px;
    
    border: 7px solid #000;
    border-radius: 60px;
    background: #FFFFFF;


 
    /*float: left;*/

}

h5{
    font-size: 45px;
    color: #000;
    margin-top: 120px;
    margin-left: 80px;
    margin-bottom: 50px;

    

}

#noticep{
    margin-left: 55px;
    margin-right: 55px;
}
p1{
    font-size: 30px;
    color: #000;
    margin-left: 20px;
    font-weight: 700;
    line-height: 200%;
   
}




#photodump{
    width: 1620px;
    height: 1400px;
    
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 27px;
    /*border: 2px solid #000;*/

 
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*float: left;*/

}


#photo-top{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    width: 1600px;
    height: 900px;

    margin-bottom: 27px;
    /*border: 2px solid #000;*/

    /*float: left;*/
    display: flex;
    justify-content: center;
    

}

#photo1{


    width: 450px;
    height: 600px;

    margin-left: 30px;
    margin-top: 10px;

    
    border: 4px solid #000;

    


}

#photo2{
    width: 450px;
    height: 600px;

    margin-left: 30px;
    margin-top: 10px;

    border: 2px solid #000;


}

#photo3{
    width: 450px;
    height: 600px;

    margin-left: 30px;
    margin-top: 10px;

    border: 2px solid #000;


}

#photo-bottom{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 60px;

    width: 1590px;
    height: 700px;
    /*border: 2px solid #000;*/

    display: flex;
    justify-content: center;
 
    
}

#photo4{
    width: 600px;
    height: 450px;

    margin-left: 30px;
    margin-top: 10px;

    border: 2px solid #000;

}

#photo5{
    width: 600px;
    height: 450px;

    margin-left: 20px;
    margin-top: 10px;

    border: 2px solid #000;

}







#next{
    width: 600px;
    height: 400px;
    
    margin-left: 100px;
    margin-top: 550px;
    margin-bottom: 27px;

    border: 7px solid #000;
    border-radius: 60px;
    background: #FFFFFF;

    justify-content: center;

    /*float: left;*/
   
 
  

}

#nextp{

    margin-top: 130px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    /*border: 2px solid #000;*/


}

p2{
    font-size: 55px;
    color: #000;
    margin-left: 30px;
    margin-top: 150px;;


    font-weight: 700;
    line-height: 200%;
   
}